.viewer {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  gap: 10px;
  padding: 24px 24px 0 24px;

  &__header {
    max-width: 638px;
    width: 100%;
    margin: 0 auto;

    &__heading {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__main {
    height: 100%;

    &__tree {
      display: flex;
      flex-direction: column;
      max-width: 638px;
      height: 100%;
      margin: 0 auto;
      line-height: 28.23px;

      &__node {
        display: flex;

        &__key,
        &__index {
          display: inline-block;
          white-space: nowrap;

          &::after {
            content: ": ";
          }
        }

        &__key {
          color: #4e9590;
        }

        &__index {
          color: #bfbfbf;
        }

        &__spacer {
          position: relative;
          left: 1px;
          display: inline-block;
          width: 19px;
          height: 28.23px;
          border-left: 1px solid #bfbfbf;
        }

        &__token {
          color: #f2cabb;
        }

        &__value {
          display: inline-block;
          white-space: nowrap;
          padding-right: 19px;
        }
      }
    }
  }
}
