.viewer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  gap: 24px;
  padding: 24px 0;

  &__header {
    width: 638px;
    margin: 0 auto;

    &__heading {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  &__main {
    height: calc(100dvh - 130px);

    &__tree {
      display: flex;
      flex-direction: column;
      max-width: 638px;
      height: 100%;
      align-items: flex-end;
      margin: 0 auto;
      word-break: break-word;
      line-height: 28.24px;

      [data-children] {
        cursor: pointer;
      }

      &__node {
        background-color: #fff;

        &__key,
        &__index {
          list-style: none;
        }

        &__key {
          max-height: 28.23px;
          color: #4e9590;
          text-overflow: ellipsis;
          white-space: nowrap;

          &::after {
            content: ": ";
          }
        }

        &__index {
          color: #bfbfbf;
        }

        &__token {
          color: #f2cabb;
        }

        &__value {
          max-height: 28.23px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
