.viewer {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  min-height: 100dvh;
  gap: 24px;
  padding: 24px 0;

  &__header {
    width: 638px;
    margin: 0 auto;

    &__heading {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  &__main {
    overflow-y: auto;

    &__tree {
      width: 638px;
      margin: 0 auto;
      word-break: break-word;
      line-height: 28.24px;

      &__node {
        position: relative;
        width: fit-content;

        &--array {
          &--index {
            width: fit-content;
            list-style: none;
            color: #bfbfbf;
            cursor: pointer;
          }
        }

        &--object {
          &--key {
            width: fit-content;
            list-style: none;
            color: #4e9590;
            cursor: pointer;
          }

          &--token {
            color: #f2cabb;
          }
        }
      }

      &__value {
        width: fit-content;

        &--children {
          position: relative;
          width: fit-content;
          padding-left: 24px;

          &::before {
            content: "";
            position: absolute;
            left: 4px;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #bfbfbf;
          }
        }

        &--string {
          &::before {
            content: '"';
          }

          &::after {
            content: '"';
          }
        }
      }
    }
  }
}
